/* MENU DESKTOP E DISPOSITIVOS MOVEIS */
#menu {
    background-color: var(--cor-acizentada);
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    max-height: 5.9rem;
}

#menu .menu {
    display: none;
    align-self: flex-end;
    width: 60px;
    height: 60px;
}

#menu nav label {
    display: flex;
    flex-direction: column;
}

#menu .hamburguer {
    background-color: var(--cor-laranja);
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.2s ease-in-out;
}

#menu .hamburguer:before,
#menu .hamburguer:after {
    background-color: var(--cor-laranja);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

#menu .hamburguer:before {
    top: -10px;
}

#menu .hamburguer:after{
    bottom: -10px;
}

#menu input {
    display: none;
}

#menu input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

#menu input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

#menu input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#menu ul li a {
    padding: 20px;
    color: var(--cor-laranja);
    border-radius: 75px;
}

#menu ul li a:nth-child(2){
    background-color: var(--cor-laranja);
}

#menu ul li a:hover {
    color: var(--cor-laranja);
}

@media(max-width: 900px){
    #menu .menu {
        display: block;
    }

    #menu nav ul {
        display: none;
    }

    #menu input:checked ~ ul {
        display: block;
    }

    #menu nav {
        position: absolute;
        top: 8px;
        right: 20px;
        z-index: 1;
        right: 20px;
    }

    #menu nav ul {
        width: 200px;
        background-color: var(--cor-acizentada);
        padding: 5px;
        background-color: var(--cor-laranja);
    }

    #menu nav ul a{
        text-align: center;
        padding: 20px;
        display: block;
    }

    #menu nav ul li:nth-child(1){
        background-image: url('../images/jogosAbertosMenu.png');
    }
    #menu nav ul li:nth-child(2){
        background-image: url('../images/arenaMenu.png');
    }
    #menu nav ul li:nth-child(3){
        background-image: url('../images/agendamentoMenu.png');
    }

    #menu nav ul li:nth-child(4) {
        background-color: var(--cor-laranja);
        border: 3px solid var(--cor-acizentada);
    }

    #menu nav ul li:nth-child(4) a {
        color: var(--cor-acizentada);
    }
}