body {
    background: url('../images/arena.png');
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ff7300;
    background-color: rgba(41, 41, 41, 0.90);
    gap: 15px;
    padding: 25px;
    font-size: 20px;
}

.container form #username{
    border-radius: 75px;
    border: none;
    padding: 2px 25px;
}

.container form button {
    transition: 0.3s ease-in;
    padding: 5px 15px;
    border-radius: 75px;
    border: 1px solid #fff;
    color: #FF7300;
    background-color: #292929;
    cursor: pointer;
}

.container form button:hover {
    border: 1px solid #FF7300;
    color: #fff;
}

@media (max-width: 475px){
    header {
        flex-direction: column;
        margin-bottom: 10px;
    }
}



