body {
    background-color: var(--cor-acizentada);
    height: 100vh;
    color: #FF7300;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    column-gap: 100px;
}

header a:nth-child(2){
    color: #fff;
    transition: 0.3s ease-in;
}

header a:nth-child(2):hover{
    color: #ff7300;
}