/* Estilo para o modal */
body {
    height: 100%;
}

.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, #292929 40.32%, #FF7300 100%);
    background-size: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    width: 600px;
    height: 500px;
    border-radius: 10px;
}

/* Estilo para a sobreposição escura de fundo */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}


.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    color: var(--cor-branca);
}

.instrucao ul li {
    color: var(--cor-branca);
    margin-top: 10px;
}

.btn-buscar {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--cor-acizentada);
    color: var(--cor-laranja);
    border: 1px solid #ff7300;
    transition: 0.3s linear;
}

.btn-buscar:hover {
    cursor: pointer;
    color: #fff;
    background-color: #ff7300;
}

#dia {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

label {
    font-size: 20px;
}

#horarios {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}

button {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    gap: 20px;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--cor-acizentada);
    color: var(--cor-laranja);
    border: 1px solid #ff7300;
    transition: 0.3s linear;
}

button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #ff7300;
}