.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.infos-user {
    background-color: var(--cor-acizentada);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 300px;
    border: 1px solid #FF7300;
}

span {
    color: var(--cor-branca);
}