.horario-linha {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.horario-input {
    margin-right: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #292929;
}

#horarios-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: var(--cor-laranja);
    color: var(--cor-acizentada);
    border: 1px solid var(--cor-acizentada);
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.3s linear;
}

button:hover {
    background-color: var(--cor-acizentada);
    border: 1px solid var(--cor-laranja);
    color: var(--cor-laranja);
    cursor: pointer;
}