body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {    
    background-color: var(--cor-acizentada);
    display: flex;
    flex-direction: column;
    margin: 10px 0 40px 0;
    padding: 20px;
    gap: 10px;
    border: 1px solid var(--cor-laranja);
}
button {
    background-color: var(--cor-laranja);
    color: var(--cor-acizentada);
    border: 1px solid var(--cor-acizentada);
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.3s linear;
}

button:hover {
    background-color: var(--cor-acizentada);
    border: 1px solid var(--cor-laranja);
    color: var(--cor-laranja);
    cursor: pointer;
}


.container a {
    color: var(--cor-branca);
    padding: 25px;
    border: 1px solid var(--cor-laranja);
    border-radius: 10px;
    transition: 0.3s linear;
    margin: 15px;
}

.container a:hover {
    color: var(--cor-branca);
    transform: scale(1.1);
    background-color: var(--cor-laranja);
}