.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ff7300;
    gap: 15px;
    padding: 50px;
    background-color: var(--cor-acizentada);
}

input[type=submit] {
    background-color: var(--cor-laranja);
    color: var(--cor-acizentada);
    border: 1px solid var(--cor-acizentada);
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.3s linear;
}

input[type=submit]:hover {
    background-color: var(--cor-acizentada);
    border: 1px solid var(--cor-laranja);
    color: var(--cor-laranja);
    cursor: pointer;
}