body {
    background: linear-gradient(180deg, #292929 40.32%, #FF7300 100%);
    background-size: auto;
    height: 100vh;
    color: #FF7300;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292929;
    text-decoration: none;
    gap: 20px;
}

header a:nth-child(2){
    color: #fff;
    transition: 0.3s ease-in;
}

header a:nth-child(2):hover{
    color: #ff7300;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.infos-user {
    background-color: var(--cor-acizentada);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 300px;
}

span {
    color: var(--cor-branca);
}