.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

table {
    width: 45%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: var(--cor-acizentada);
    border: 1px solid var(--cor-laranja);
    color: white;
}

tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

#searchBox {
    margin: 15px 0 15px 0;
    padding: 8px;
    font-size: 16px;
    width: 300px;
}