.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.infos-user {
    background-color: var(--cor-acizentada);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 300px;
    border: 1px solid #FF7300;
}

span {
    color: var(--cor-branca);
}

.container a {
    color: var(--cor-branca);
    padding: 25px;
    border: 1px solid var(--cor-laranja);
    border-radius: 10px;
    transition: 0.3s linear;
}

.container  a:hover {
    color: var(--cor-branca);
    transform: scale(1.1);
    background-color: var(--cor-laranja);
}
