:root {
    --cor-laranja: #FF7300;
    --cor-acizentada: #292929;
    --cor-branca: #FFFFFF;
    --largura-dm: 18.5rem;
    --largura-tablet: 25.25rem;
    --largura-desktop: 30.5rem;
    --altura-dm: 15.5rem;
    --altura-tablet: 20.25rem;
    --altura-desktop: 36.5rem;
    --borda-redonda: 4.7rem;
    --fontSize-h3-dm: 2.1rem;
    --fontSize-h3-tablet: 3rem;
    --fontSize-h3-desktop: 5rem;
    --fontSize-p-dm: 1.2rem;
    --fontSize-p-tablet: 1.6rem;
    --fontSize-p-desktop: 3.2rem;
}